.large-hero {
	position: relative;
	border-bottom: 10px solid $mainBlue;
	
	&--text-content {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
		text-align: center;
	}
	
	&--image {
		display: block;
	}
	
	&--title {
		font-size: 2.4rem;
		font-weight: 300;
		color: $mainBlue;
		margin: 0;
		
		@mixin atSmall {
			font-size: 4.8rem;
		}
	}
	
	&--sub-title {
		font-size: 1.5rem;
		font-weight: 300;
		color: $mainBlue;
		margin: 0;
		
		@mixin atSmall {
			font-size: 2.9rem;
		}
	}
	
	&--description {
		font-size: 1.1rem;
		color: $mainWhite;
		max-width: 30rem;
		font-weight: 100;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
		display: inline-block;
		margin: 15px auto;
		
		@mixin atSmall {
			font-size: 1.875rem;
		}
	}
}









